# Build files
llvm-toolchain*
output/
output-flang/
build-aarch64/
build-aarch64-install/
build-x86_64/
build-x86_64-install/
build-host/
build-host-install/
build-tblgen/
out/

# Generated on GitHub Actions CI when building kernel modules
/scripts/*.ko.zst
